<div>
  <form #taskForm="ngForm" (ngSubmit)="onAddTask(taskForm)">
    <div class="form-group">
      <label for="taskTitle">Tarea</label>
      <input type="text" class="form-control" id="taskTitle" [(ngModel)]="taskTitle" name="taskTitle" required>
    </div>
    <div class="form-group">
      <label for="taskPriority">Prioridad</label>
      <input type="text" class="form-control" id="taskPriority" [(ngModel)]="taskPriority" name="taskPriority" required>
    </div>
    <div class="form-group">
      <label for="taskTags">Tags</label>
      <input type="text" class="form-control" id="taskTags" [(ngModel)]="taskTags" name="taskTags" required>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Agregar tarea</button>
    <br>
  </form>
</div>
<br>
